<div class="container-fluid text-center bg-danger mt-4" id="footer">
    <div class="row">
        <div class="col-sm-4 " id="privacy">
            <p> <a href="/coming">About Us</a></p>
            <p> <a href="/coming">Advertise with Us</a></p>
            <p> <a href="/coming">Our Privacy Policy</a></p>
            <p> <a href="/coming">Disclaimer</a></p>

        </div>
         <div class="col-sm-4 ">
             <h5 class="write">Contact Form</h5>
               <form action="/contact" method="POST" id="contact">
               <div class="form-group">
               <input type="text" class="form-control" placeholder="your name" name="name" id="con" require>
               </div>
                <div class="form-group">
               <input type="email" class="form-control" name="sender" placeholder="your email" id="con" require>
               </div>
                <div class="form-group">
                    <textarea name="detail" rows="5" class="form-control" id="con" placeholder="type your message here..."></textarea>
               </div>
                <div class="form-group">
                    <button class="btn btn-primary">Send message</button>
               </div>
               </form>
        </div>
         <div class="col-sm-4 ">
            <h5 class="write">Explore</h5>
            <form action="/search" method="GET" id="myForm3" class="">
    <div class="input-group">
        <input type="text" class="form-control " name="query" placeholder="Search ..." id="searchtext3">
        <div class="input-group-append">
            <button class="btn btn-dark text-white" id="btn3">Search</button>
        </div>
    </div>
    </form>
        </div>

    </div>
             <p class="text-center " id="copy">Trust.com &copy; 2020</p>

</div>

