<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Share your stories with others">
    <meta name="keywords" content="Gist, News, Stories">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>trust.com</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fa/font-awesome.css">
  <!-- <link rel="stylesheet" href="/dist/summernote.css">-->
        <link rel="stylesheet" href="/css/main.css">

   

</head>
<body>

       <div class="cover">
          
           {{{body}}}
           {{>_footer}}
       </div>
    

           <script src="/dist/jquery.min.js"></script>
         <script src="dist/umd/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
       <script src="/javascript/java.js"></script>
      <!-- <script src="/dist/summernote.min.js"></script>-->
     <script src="/ckeditor4/ckeditor.js"></script>
<!--<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
-->         
  <script src="/dist/axios.min.js"></script>


<script>
    CKEDITOR.replace('details');
</script>
    <!--  <script>
    $(document).ready(function(){
        $('#summernote').summernote({
            placeholder: 'by des',
            tabsize: 2,
            height: 300,
             toolbar: [
            [ 'style', [ 'style' ] ],
            [ 'font', [ 'bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear'] ],
            [ 'fontname', [ 'fontname' ] ],
            [ 'fontsize', [ 'fontsize' ] ],
            [ 'color', [ 'color' ] ],
            [ 'para', [ 'ol', 'ul', 'paragraph', 'height' ] ],
            [ 'table', [ 'table' ] ],
            [ 'insert', [ 'link'] ],
            [ 'view', [ 'undo', 'redo', 'fullscreen', 'codeview' ] ]
        ]
           
        });

    });
   
</script>-->

</body>
</html>