<div class="container my-4">
    <h1 class="">500 Server Error</h1>
    <h5 class="">Oops! Something Went Wrong.</h5>
    <p>Try to refresh this page or feel free to contact us if the problem persists. </p>
   <a href="/"><h5 class="text-danger">Back To Home</h5></a>
</div>