           {{>_header}}

<div class="container my-4">
    <h5 class="text-dark text-center my-3"> Account update</h5>
    <form action="/user/{{user._id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">
   
     
     
    <div class="form-group">
         <label for="email">Email</label>
        <input type="email" name="email" class="form-control" placeholder="your email address" value="{{user.email}}">
    </div>
   
      <div class="form-group">
          <button class='btn btn-danger' type="submit">Update</button>
      </div>
    </form>
</div>

<style>
    select{
        background: ghostwhite;
    }
    .form-control{
        background: ghostwhite;
    }
    label{
        color:rgb(161, 40, 40);
        font-weight: bold;
    }
      #select{
        width:29%;
    }
    select > option{
        background: ghostwhite;
    }
  
</style>